*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  text-align: justify;
}

/* NAVBAR */
#navbarNavAltMarkup {
  justify-content: end;
}
/* HERO */
.hero {
  background-image: url(img/hero.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 85vh;
  position: absolute;
}
.hero-text {
  color: white;
  position: relative;
  top: 12vh;
  left: 50px;
  text-shadow: 1px 1px 2px black;
}

/* MODAL */
.show-modal {
  position: relative;
  top: 12vh;
  left: 50px;
}

/* ABOUT */
.about {
  position: relative;
  top: 82vh;
  text-align: center;
  padding-top: 5vh;
}
.about img {
  max-height: 70vh;
}

/* CAROUSEL */
.carousel-item p {
  text-align: center;
}
.carousel-caption {
  text-shadow: 1px 1px 2px black;
  display: block;
  background-color: grey;
  opacity: 80%;
  border-radius: 15px;
}

/* PROJEKTY */
.projects {
  position: relative;
  top: 90vh;
  text-align: center;
  padding-top: 7vh;
}

.price-list {
  position: relative;
  top: 100vh;
  text-align: center;
  padding-top: 7vh;
}

/* TABULKA */
.table {
  text-align: left;
}

/* MAPA */
.contact {
  position: relative;
  top: 102vh;
  text-align: center;
}

/* FORMULÁŘ */
.form {
  background-color: grey;
  display: block;
  position: relative;
  justify-self: center;
}
.form-group {
  text-align: left;
  color: white;
}
.contact {
  padding-top: 7vh;
}
.contact > .col-8 {
  justify-content: center;
}

.contact-left {
  text-align: left;
  align-self: center;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  background-color: red;
  color: black;
  /* z-index: 5; */
  /* top: 95vh; */
}
.font-text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif,
    cursive;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.font-text .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.font-text:hover .tooltiptext {
  visibility: visible;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
